%html
	%head 
		%title Kampfulator
		%style{:type => "text/css"}
			:plain
				table, tr, td, th {
					border: 1px solid black;
					border-collapse: collapse;
					padding: 2px 6px;
				}
	%body
		%h1 Kampfulator: 
		%form{ :action => "", :method => "get"}
			- (0...@units.length).each do |fi|
				%h2= "Faction "+fi.to_s
				- (0...@units[fi].length).each do |ai|
					%h3= "Army "+ai.to_s
					%table
						- @units[fi][ai].each do |k, v|
							%tr
								%td= get_type_name(k)
								%td
									%input{ :type => "text", :name => "units[#{fi}][#{ai}][#{k}][numUnitsAtStart]", :value => @units[fi][ai][k].numUnitsAtStart }
			%br
			%br
			%table
				%tr
					%td Anzahl Kampfrunden:
					%td 
						%input{ :type => "text", :name => "num_rounds", :value => @num_rounds }

			%br
			%input{ :type => "submit", :value => "Fight"}
		%h1 Kampfbericht
		- (0...@rounds.length).each do |ri|
			%hr
			%h2= "Round "+ri.to_s
			- round = @rounds[ri]
			- (0...round.numFactions).each do |fi|
				%h3= "Faction "+fi.to_s
				- faction = round.getFaction(fi)
				- (0...faction.numArmies).each do |ai|
					- army = faction.getArmy(ai)
					%h4= "Army "+ai.to_s
					%table
						%tr
							%td 
								%b Name
							%td 
								%b #Units - #Deaths
							%td 
								%b #Hits
							%td 
								%b #Kills
							%td 
								%b +XP
							%td 
								%b dmg taken
							%td 
								%b dmg inflicted
						- (0...army.numUnits).each do |ui|
							- unit = army.getUnit(ui)
							%tr
								%td= get_type_name(unit.unitTypeId)
								%td= unit.numUnitsAtStart.to_s+" - "+unit.numDeaths.to_s
								%td= unit.numHits
								%td= unit.numKills
								%td= unit.newXp
								%td= unit.damageTaken
								%td= unit.damageInflicted
									